.todos__wrapper {
    margin-top: 60px;
    width: 100%;
}
.todos__list{
    width: 100%;
    display: grid;
    background-color: rgba(255, 255, 255, 0.75);
    
    .todo__item__wrapper{
        display: grid;
        grid-template-columns: 0.3fr 5fr 1fr 0.3fr;
        gap: 10px;
        width: 100%;
        align-items: center;
        padding-left: 10px;
        @media(width>=430px) {
            padding-left: 15px;
            gap: 30px;
            border-top: 1px solid rgb(0, 0, 0, 0.3);
            border-left: 1px solid rgb(0, 0, 0, 0.3);
            border-right: 1px solid rgb(0, 0, 0, 0.3);
        }
        .todo__text{
            padding: 15px;
            width: 100%;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
          

        
    }
}
.todos__list:last-child {
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);

}
.button__wrapper{
    min-width: 120px;
}
.cross__wrapper {
    margin-right: 20px;
    cursor: pointer;
}
.select__todo {
    margin-bottom: 30px;
}