
.photoslist__wrapper{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    .photo__wrapper{
        display: flex;
        flex-direction: column;
    }
    .title {
        padding: 7px;
        max-width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .img {
        width: 100%;
        object-fit: cover;
    }
    
}
.search__wrapper{
    margin-bottom: 60px;
    position: relative;
    .error__text {
        position: absolute;
        top: 37px;
        left: 12px;
    }
}