.section {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 30px;
    width: 100%;
    @media(width>=430px) {
        gap: 60px;
    }
    .title {
        font-size: 30px;
        font-weight: 600;
    }
    .buttons__wrapper{
        display: flex;
        gap: 60px;
    }
    .task {
        display: grid;
        grid-template-columns: 10fr 1fr;
        justify-items: center;
        width: 100%;
        gap: 15px;
        @media(width>=430px) {
            gap: 30px;

        }
    }
}