.header {
    background-color: rgb(0, 0, 0);
    position: relative;
}
.header__wrapper{
    width: max-content;
    .gohome__link{
        text-align: center;
        padding: 20px;
        cursor: pointer;
        font-size: 18px;
        color: var(--white);
    }
}

.header::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    background-image: url('/img/IMG_20220826_213703.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
}
