body {
    min-width: 328px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    line-height: normal;
  }
  
  .container {
    box-sizing: border-box;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 0 16px;
  
    @media (width>=430px) {
      max-width: 660px;
      padding: 0 30px;
    }
  
    @media (width>=768px) {
      max-width: 900px;
      padding: 0 42px;
    }
  
    @media (width>=1024px) {
      max-width: 1440px;
      padding: 0 80px;
    }
  }
  .not__active{
    text-decoration: line-through;
}
.main__title{
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}