.home__wrapper{
    position: relative;
    height: calc(100vh - 61px);
    .buttons__wrapper{
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 170px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        button {
            width: 100%;
        }
        @media(width>768px) {
            min-width: 500px;
            flex-direction: row;
            gap: 50px;
        }
    }
}
